{
    "presets": [["@babel/preset-env", { "modules": false }]],
    "env": {
        "test": {
            "presets": [["@babel/preset-env", { "targets": { "node": "current" } }]]
        }
    },
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "absoluteRuntime": false,
                "corejs": 3,
                "helpers": true,
                "regenerator": true,
                "useESModules": false
            }
        ],
        [
            "component",
            {
                "libraryName": "element-ui",
                "style": false
            }
        ]
    ]
}
